@media only screen and  (max-width:960px) and (min-width:768px) {
     
    .container{
        display: flex;
        flex-wrap:wrap;
        /* justify-self: flex-end; */

    }
    main .a{
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
    }
    main .b{
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
      
    
    }
    .b ,.c ,.d{
       /* display:flex; */
       justify-content: center;
       line-height: center;
      
    }
    .c,.d{
        margin: 0px 0px;
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
        
    
    }
    
    .e{
        /* display: inline-block; */
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
       
    }
    .witheach{
        display: flex;
        flex-wrap: wrap;

        
        

    }
    .f,.g,.h{
        /* float: left; */

        margin: 0px 0px;
    /* display: inline-block; */
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
        
    }
    .float-left{
        float: left;
        /* background:none; */
    } 
    .i{
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
       
    }
}
@media only screen and  (max-width:767px) and (min-width:480px) {
    main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    main .a{
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;

       
    }
    main .b{
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
       
    }
    .b ,.c ,.d{
       display: flex;
       flex-direction: column;

      
    }
    .c,.d{
        margin: 0px 0px;
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
        
    }
  
  
    .e,.h{
        display: flex;
        float: left;
        flex-direction: column;
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
       
    }
    .f,.g{
        display: flex;
        float: left;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        
        
        margin: 0px 0px;

        padding-top: 60px;
        padding-bottom: auto;
        
    }
   
    
    main  .float-left  .i{
      
        display: inline-block;
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
       
    }
}