
@media only screen and  (max-width:960px) and (min-width:768px) {
    *{
        box-sizing: border-box;
    }
    
    body {
    
       width:960px;
       margin: auto;
    
    }
    div{
        background:rgb(204, 203, 203);
    }
    
    main .a{
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
       width: 960px;
       height: 100px;
       border: 1px solid rgb(179, 175, 175);
    }
    main .b{
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
       width:200px;
       height: 600px;
       border: 1px solid rgb(179, 175, 175);
    
    }
    .b ,.c ,.d{
        float: left;
      
    }
    .c,.d{
        margin: 0px 0px;
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
        width:380px;
       height: 200px;
       border: 1px solid rgb(179, 175, 175);
    
    }
    
    .e{
        display: inline-block;
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
        width:190px;
       height: 250px;
       border: 1px solid rgb(179, 175, 175);
    }
    .f,.g,.h{
        float: left;
        margin: 0px 0px;
    display: inline-block;
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
        width:190px;
       height: 250px;
       border: 1px solid rgb(179, 175, 175);
    }
    .float-left{
        float: left;
        background:none;
    } 
    .i{
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
        width:760px;
       height: 150px;
       border: 1px solid rgb(179, 175, 175);
    }
}
@media only screen and  (max-width:767px) and (min-width:480px) {
    *{
        box-sizing: border-box;
    }
    
    body{
        width:480px;
        margin: auto;
       
    }
    div{
        background:rgb(204, 203, 203);
    }
    
    main .a{
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
       width:480px;
       height: 75px;
       border: 1px solid rgb(179, 175, 175);
    }
    main .b{
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
       width:480px;
       height: 75px;
       border: 1px solid rgb(179, 175, 175);
    
    }
    .b ,.c ,.d{
        float: left;
      
    }
    .c,.d{
        margin: 0px 0px;
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
        width:480px;
       height: 75px;
       border: 1px solid rgb(179, 175, 175);
    
    }
    
    .e,.h{
        float: left;
        display: inline-block;
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
        width:240px;
       height: 250px;
       border: 1px solid rgb(179, 175, 175);
    }
    .f,.g{
        float: left;
        margin: 0px 0px;
    display: inline-block;
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
        width:240px;
       height: 250px;
       border: 1px solid rgb(179, 175, 175);
    }
    .float-left{
        /* float: left; */
        background:none;
    } 
    .float-left  .i{
        display: inline-block;
        text-align: center;
        padding-top: 45px;
        padding-bottom: auto;
        width:480px; 
       height: 80px;
       border: 1px solid rgb(179, 175, 175);
       
    }
}


